        .mali-regular-italic {
            font-family: "Mali", cursive;
            font-weight: 400;
            font-style: italic;
        }

        body {
            background-color: rgb(27, 25, 25);
        }

        .header-text {
            text-align: center;
            color: rgb(6, 17, 37);
            font-size: 30px;
        }

        .header-container {
            margin-top: 5%;
            background-color: rgb(117, 5, 5);
            padding: 2%;
            border-radius: 5px;
            width: 40%;

        }

        .flex-header {
            display: flex;
            justify-content: center;
        }

        .img-container {
            margin-top: 20px;
        }

        .nav-menu-container {
            background-color: rgb(133, 20, 16);
            margin-top: 2%;
            margin-bottom: 1%;
            padding: 3%;
            border-radius: 3%;
        }

        .nav-menu-item {
            margin-left: 1%;
            margin-right: 1%;
            text-decoration: none;
            color: rgb(63, 18, 18);
            font-size: 25px;
        }
